@media (max-width: 1220px) {
  .container {
    width: 980px;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 780px;
    margin: 0 auto;
  }
}
@media (max-width: 780px) {
  .container {
    width: 580px;
    margin: 0 auto;
  }
  .list_product {
    transform: translateX(42px);
  }
}
@media (max-width: 590px) {
  .container {
    width: 300px !important;
    margin: 0 auto;
  }
  .list_product {
    transform: translateX(42px);
  }
}
