*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section{
    padding: 100px;
    position: relative;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 215px;
}
.section-title h2 {
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    color: #2c2d3f;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.section-title h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 80px;
    background: #f7941d;
    left: 50%;
    bottom: 0;
    margin-left: -50px;
}
.shop-single-blog{
    text-align: center;
    transition: all 0.4s ease;
}
.shop-single-blog:hover{
    box-shadow: 0 10px 10px #3b2c9054;
}
.shop-single-blog img{
    width: 100%;
    height: 100%;
    
}
.shop-single-blog .content{
    padding: 40px;

}
.shop-single-blog .content .date{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #b7b7b7;
}
.shop-blog .shop-single-blog a{
    text-decoration: none;
}
.shop-blog .shop-single-blog .content .title {
    font-size: 17px;
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease;
}
.shop-blog .shop-single-blog .content .more-btn:hover,
.shop-blog .shop-single-blog .content .title:hover{
    color: #f7941d;
}
.shop-blog .shop-single-blog .content .more-btn {
    font-size: 14px;
    font-weight: 400;
    color: #3c3c3c;
    margin-top: 10px;
    display: block;
}